

@media (min-width: 800px){
     h1::before {
        content: "Victor Cano online resume";
    }
}
@media (max-width: 799px){
    h1::before{
        content:"Victor Cano";
    }
}

table {
    border: 2px solid black;
    margin: 10px;
    margin-left:auto; 
    margin-right:auto;
    
}

.type {
    text-decoration-line: underline;
}

#employer {
    color: brown;
}

#title {
    color: navy;
}

#dates{
    color: darkolivegreen;
}





    
